body {background-color:#edeeef;}
#wrapper{background-color:white;width:90%;margin:20px auto;}
#header {float: left; width: 100%; margin: 0px; padding: 0px;}
#header-e1 {	 width: 50%;   float:left;}
#header-e2 {	 margin-top: 4%; width: 50%;  float: right;}
#nav{clear: both; width: 100%; margin-bottom: 10px;}
#content{margin: 0px; padding: 20px;}
#footer{overflow: auto; background-color: black; padding: 20px; color : #ffffff;}
#footer a{color : #84b3ff; text-decoration: none;}
#footer a:hover{color : #f2f2f2;}
.topnav {overflow: hidden;  background-color: #333;  position: relative;}
.topnav a {  float: left; color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
.topnav a:hover {color: #84b3ff;}
.topnav a.active {  background-color: #84b3ff;  color: white;}
.intro {width: 90%; border: 1px solid #eaedf2; background-color: #f7f8f9; margin: auto; padding: 10px; font-size: 14px; position: relative; clear: both;}
.intronet {width: 30%; border: 1px solid #eaedf2; background-color: #f7f8f9; margin: auto; padding: 10px; font-size: 14px; position: relative; float: left;}
.net {width: 70%; margin: auto; position: relative; float: left;}
.netbut {margin: auto; border-radius: 5px; border: 2px solid #84b3ff; background-color: #c2f442; width: 90%; height: 40px;}
.browsetitle {margin: auto; font-size: 20px; position: relative; clear: both;}
